<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestão de conta de utilizador</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <% if(account.manager === 1){%>
        <!-- Navigation Bar-->
        <%- include navigation_manager.ejs%>
        <!-- **** -->
        <% } else if(account.client === 1){%>
          <!-- Navigation Bar-->
        <%- include navigation_client.ejs%>
        <!-- **** -->      
        <% } else{%>
        <%- include navigation_technician.ejs%>
        <% }%>
        <script>
            changeSettingsPopup('<%= account.id%>','<%= account.username%>');
        </script>

    </body>

</html>

