<!DOCTYPE html>
<html>
    <head>
        <title>Pedidos de intervenção</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">   
        <link href="/fine-uploader/fine-uploader-new.css" rel="stylesheet">      
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <script src="/javascripts/client_requests.js"></script>

        <script src="/fine-uploader/fine-uploader.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_client.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela com pedidos de intervenção</div>
            <div class="panel-body">
                <div style="margin: 0 auto;margin-top: 30px; width: 90%">
                    <button type="button" class="btn btn-primary pull-right" id="send_request_button">Efectuar pedido de intervenção</button>
                </div>
                <div style="margin: 0 auto;width: 90%;height: 30px"></div>
                <div id="requestsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>
        <script>
            $('#send_request_button').attr('onClick', 'sendRequest()');
            var account = <%- JSON.stringify(account) %>;
            setClientAccount(account);
            fillRequestsTable(<%= account.authorize_repairs%>);
        </script>
    </body>
</html>