<!DOCTYPE html>
<html>
    <head>
        <title>Equipamentos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">  
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/maps.css">
        <link rel="stylesheet" href="/stylesheets/lightbox.min.css">  
        
    </head>
    <body>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBYjmcveXpDA3NFIYxKD5rb7NVEngUGsgU&libraries=places"></script>

        <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>

        <script src="javascripts/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.4.0/alasql.min.js"></script>

        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>

        <script src="/javascripts/export_equipments.js"></script>
        <script src="/javascripts/markers-with-label.js"></script>
        <script src="/javascripts/maps.js"></script>
        <script src="/javascripts/equipments.js"></script>
        
        <script src="/javascripts/lightbox.min.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_manager.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Localização geográfica dos equipamentos</div>
            <div class="panel-body">
                <div id="map"></div>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="dragEquipmentsCheckBox">   Editar localização dos equipamentos?</label>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela de gestão de equipamentos</div>
            <div class="panel-body">
                <div id="equipmentsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <button type="button" id="exportButton" class="btn btn-primary pull-right">Exportar lista</button>
                </div>
            </div>
        </div>
        <input id="searchInput" class="controls" type="text" placeholder="Introduza a localização...">
        <script>
            $('#exportButton').attr('onClick', 'downloadButtonClick()');
            initMap();
            fillEquipmentsTable();
        </script>
    </body>
</html>