<!DOCTYPE html>
<html>
    <head>
        <title>Reparção de equipamento</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">  
         <link href="/fine-uploader/fine-uploader-new.css" rel="stylesheet">      
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <script src="/javascripts/equipment_repair.js"></script>

        <script src="/fine-uploader/fine-uploader.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_technician.ejs%>
        <!-- **** -->

        <!-- Fine Uploader -->
 <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button">
                    <div>Selecionar</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> Enviar imagens
                </button>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>A processar as imagens enviadas</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancelar</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Tentar novamente</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Apagar</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Fechar</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Não</button>
                    <button type="button" class="qq-ok-button-selector">Sim</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancelar</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

    <style>
        #trigger-upload {
            color: white;
            background-color: #00ABC7;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
    </style>

<!-- *** -->

        <h2 align="center">Número de série: <%= route_point.serial_number%></h2>
        <h2 align="center">Tipo de equipamento / Serviço: <%= route_point.brand_name%></h2>
        <h2 align="center">Nome / Marca / Modelo: <%= route_point.model_name%></h2>

        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Reparações efectuadas no equipamento</div>
            <div class="panel-body">
                <div id="equipmentRepairsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
                <div id="fine-uploader-manual-trigger" style="margin: 0 auto; width: 90%"></div>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <textarea style="height: 100px;width: 100%" placeholder="Observações" id="observations"></textarea>
                </div>
                <p></p>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id='status-selection-options'>Em que estado se encontra o equipamento?   <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="selectedStatus">
                        </ul>
                    </div>
                    <button type="button" id="terminateRepairButton" class="btn btn-primary pull-right">Terminar reparação</button>
                </div>
            </div>
        </div>

        <script>
            var routePoint = <%- JSON.stringify(route_point) %>;
            fillEquipmentRepairsTable(routePoint);
            fillStatusesDropdown();

        var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: '/equipment_repair/upload_photo',
                forceMultipart: true,
                inputName : 'uploadedfile',
                params: {
                    route_point_id: 0
                }
            },
            thumbnails: {
                placeholders: {
                    waitingPath: '/fine-uploader/placeholders/waiting-generic.png',
                    notAvailablePath: '/fine-uploader/placeholders/not_available-generic.png'
                }
            },
            autoUpload: false,
            debug: true,
            maxConnections: 1
        });

        qq(document.getElementById("trigger-upload")).attach("click", function() {
            var routePoint = <%- JSON.stringify(route_point) %>;
            manualUploader.setParams({
                route_point_id:routePoint.route_point_id
            });
            manualUploader.uploadStoredFiles();
        });

        </script>


    </body>
</html>