<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Entrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body id="loginBody">

        <!-- Navigation Bar -->
        <div>
            <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button" style="background-color:#f2f5f8;">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/" style="color:#555555;background-color:#f2f5f8;">Geo-Mantem</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                </div>
            </nav>
        </div>
        <!-- **** -->

        <!-- Login form -->
        <div class="container" id="loginPanel">
            <div class="row">
                <div>
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Preencha com os seus dados</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" method="post" action="/">
                                <fieldset>
                                    <%if (errors) { %>
                                    <%if (errors.length !== 0) { %>
                                    <div class="alert alert-danger text-center" role="alert" >
                                        <strong><%= errors[0].msg %></strong>
                                    </div>
                                    <% } %>
                                    <% } %>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <input class="btn btn-lg btn-info btn-block" id="loginBtn" value="Entrar" type="submit">
                                </fieldset>
                            </form>
                            <a style="margin-top: 10px" class="pull-right" href="/accounts/forgot_password">Esqueci a minha password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>