<div>
    <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button" style="background-color:#f2f5f8;">
        <div class="container" id="navbar-container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/equipments/" style="color:#555555;background-color:#f2f5f8;">Geo-Mantem</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestão de equipamentos <span class="caret"></span></a>
                        <ul class="dropdown-menu" id='types_dropdown'>
                            <li><a href="/brands/">Editar tipos de equipamento</a></li>
                            <li><a href="/models/">Editar Nome / Marca / Modelo</a></li>
                            <li><a href="/repairs/">Editar tipos de reparação</a></li>
                            <li><a href="/equipments/">Editar equipamentos</a></li>
                            <li><a href="/warehouses/">Editar estaleiros</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestão local<span class="caret"></span></a>
                        <ul class="dropdown-menu" id='types_dropdown'>
                            <li><a href="/clients/">Clientes</a></li>
                            <li><a href="/clients_accounts/">Contas de cliente</a></li>
                            <li><a href="/technicians_accounts/">Contas de técnicos</a></li>
                            <li><a href="/requests/">Pedidos de intervenção</a></li>
                            <li><a href="/logs/">Logs</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestão de rotas<span class="caret"></span></a>
                        <ul class="dropdown-menu" id='types_dropdown'>
                            <li><a href="/routes/">Gerar rota</a></li>
                            <li><a href="/reports/">Obter relatórios</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilizador <%= account.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu" id='types_dropdown'>
                            <li><a href="/accounts/settings/settings/">Definições de conta</a></li>
                            <li><a href="/logout/">Terminar sessão</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div style="margin: 0 auto; width: 90%">
    <img src='/images/logo.jpg'>
</div>
