<!DOCTYPE html>
<html>
    <head>
        <title>Relatórios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">        
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <script src="javascripts/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.4.0/alasql.min.js"></script>

        <script src="/javascripts/route_points.js"></script>
        <script src="/javascripts/reports.js"></script>
        <script src="/javascripts/reports_generation.js"></script>
        <script src="/javascripts/reports_export.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_manager.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela com as rotas de reparação</div>
            <div class="panel-body">
                <div id="routesGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>
        <div id="route_points_div" class="panel panel-primary" style="margin: 30px;display: none;">
            <div class="panel-heading">Tabela com os pontos de reparação</div>
            <div class="panel-body">
                <div id="routePointsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>

        <div id="photos_div" class="panel panel-primary" style="margin: 30px;display: none;">
            <div class="panel-heading">Tabela com as imagens da reparação</div>
                <div class="panel-body">
                    <div class="container" id="report_images_container">
                </div>
            </div>
        </div>
        <div id="reports_div" class="panel panel-primary" style="margin: 30px;display: none;">
            <div class="panel-heading">Relatórios de reparação</div>
            <div class="panel-body">
                <div id="reportsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <button type="button" id="generateReportButton" class="btn btn-primary pull-right" onclick="downloadButtonClick()">Exportar para excel</button>
                </div>
            </div>
        </div>
        <script>

            fillRoutesTable();
        </script>
    </body>
</html>