<!DOCTYPE html>
<html>
    <head>
        <title>Pedidos de intervenção</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">        
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <script src="/javascripts/requests.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_manager.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela com pedidos de intervenção</div>
            <div class="panel-body">
                <div id="requestsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>
        <div id="response_div" class="panel panel-primary" style="margin: 30px; display: none;">
            <div class="panel-heading">Resposta ao cliente com pedidos de intervenção</div>
            <div class="panel-body">
                <div style="margin: 0 auto;margin-top: 30px; width: 90%">
                <h3 id="response_helper">Response text</h3>
                    <textarea id="response" placeholder="Resposta ao cliente (Maximo de 500 caracteres)" style="width: 100%; height: 100px"></textarea>
                </div>
                <div style="margin: 0 auto;margin-top: 30px; width: 90%">
                    <button type="button" class="btn btn-primary pull-right" id="send_response_button">Enviar resposta e fechar pedido</button>
                </div>
            </div>
        </div>
        <script>
            $('#send_response_button').attr('onClick', 'sendResponseToClient()');
            fillRequestsTable();
        </script>
    </body>
</html>