<!DOCTYPE html>
<html>
    <head>
        <title>Reparações</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/maps.css">
        <link rel="stylesheet" href="/stylesheets/style.css">  
        <link rel="stylesheet" href="/stylesheets/lightbox.min.css">      
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBYjmcveXpDA3NFIYxKD5rb7NVEngUGsgU&libraries=places"></script>
        <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
        <script src="/javascripts/bootstrap-dialog.js"></script>
        <script src="/javascripts/custom-dialog.js"></script>
        <script src="/javascripts/route_points_technician.js"></script>
        <script src="/javascripts/technician.js"></script>
        <script src="/javascripts/markers-with-label.js"></script>
        <script src="/javascripts/geolocation-marker.js"></script>
        <script src="/javascripts/technician_maps.js"></script>
        <script src="/javascripts/lightbox.min.js"></script>

        <!-- Navigation Bar-->
        <%- include navigation_technician.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela com as rotas de reparação</div>
            <div class="panel-body">
                <div id="routesGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>
        <div id="route_points_report" class="panel panel-primary" style="margin: 30px;display: none;">
            <div class="panel-heading">Tabela com os pontos de reparação</div>
            <div class="panel-body">
                <div id="routePointsGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
                <div id="map"></div>
                <input id="searchInput" class="controls" type="text" placeholder="Introduza a localização...">
            </div>
        </div>
        <script>
            initMap();
            fillTechniciansTable();
        </script>
    </body>
</html>