<!DOCTYPE html>
<html>
    <head>
        <title>Estaleiros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
        <link rel="stylesheet" href="/stylesheets/style.css">  
        <link rel="stylesheet" href="/stylesheets/maps.css">
    </head>
    <body>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBYjmcveXpDA3NFIYxKD5rb7NVEngUGsgU&libraries=places"></script>

        <script src="javascripts/bootstrap-dialog.js"></script>
        <script src="javascripts/custom-dialog.js"></script>
        <script src="/javascripts/markers-with-label.js"></script>
        <script src="/javascripts/warehouses.js"></script>
        <script src="/javascripts/warehouses_maps.js"></script>


        <!-- Navigation Bar-->
        <%- include navigation_manager.ejs%>
        <!-- **** -->
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Tabela de gestão de estaleiros</div>
            <div class="panel-body">
                <div id="warehousesGrid" style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px;"></div>
            </div>
        </div>
        <div class="panel panel-primary" style="margin: 30px;">
            <div class="panel-heading">Localização geográfica dos estaleiros</div>
            <div class="panel-body">
                <div id="map"></div>
                <div style="margin: 0 auto;margin-bottom: 30px;margin-top: 30px; width: 90%">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="dragEquipmentsCheckBox">   Editar localização dos estaleiros?</label>
                </div>
            </div>
        </div>
        <script>
            fillWarehousesTable();
        </script>
    </body>
</html>