#map {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}

#mapToSelectLocation {
    height: 350px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}

#searchInputSmallMap {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

​ #searchInput:focus {
    border-color: #4d90fe;
}

.equipment_label1 {
    width: 50px;
    height: 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background: #4CAF50;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.equipment_label2 {
    width: 50px;
    height: 20px;
    border: 1px solid #FFEB3B;
    border-radius: 5px;
    background: #FFEB3B;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
}

.equipment_label3 {
    width: 50px;
    height: 20px;
    border: 1px solid #F44336;
    border-radius: 5px;
    background: #F44336;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.equipment_label4 {
    width: 50px;
    height: 20px;
    border: 1px solid #2196F3;
    border-radius: 5px;
    background: #2196F3;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.equipment_label5 {
    width: 50px;
    height: 20px;
    border: 1px solid #FF9800;
    border-radius: 5px;
    background: #FF9800;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}