body {
    padding-top: 70px;
}

a {
    color: #00B7FF;
}

.selected-row-green>.jsgrid-cell {
    background: #C8E6C9;
}

.selected-row-red>.jsgrid-cell {
    background: #FFCDD2;
}

.selected-row-orange>.jsgrid-cell {
    background: #FFB74D;
}